div {
border: solid 3px;
color: pink;
margin: 5px;
background: blue;
}
#b1{ background:yellow;}
	.y {background: grey;
	padding:5px;}
	#b3{background: grey;
	padding:5px;
	width:25%;
	float:left;}
#b4{background: grey;
	padding:5px;
	width:60%;
	float:left;
	}
	#b5{background: grey;
	padding:5px;
	width:25%;
	float:left;}
	#b6 { clear: both;}